---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import '@/styles/normalize.css'
import SocialLinksNav from '@/components/navigation/SocialLinksNav';
import Header from '@/components/navigation/Header'
import SpaceForSidebar from "@/components/SpaceForDesktopSidebar"

---


<Layout title="Janet Spellman's About Me">

    
	
		<header class="bg-mainColor gradient-line border-b-8">

            <Header client:only="react" />	
       
                
             </header>             
    
    <main class="h-full flex">
        <SpaceForSidebar/>

        <section class="h-full pt-10 px-12">
                         <h1>About Me</h1>
         

            <p class="mt-4"> Hi there, thanks for visiting my about me page! </p>
            
            <p class="mt-4">  I've always enjoyed using technology, whether by building computers, playing classic games with emulators, or creating custom apps to make other's lives easier.  </p>
            
            <p class="mt-4"> Although I've had jobs and volunteer roles in a variety of industries, such as physical therapy, animal shelters, bartending, and hospitality, I kept returning to coding. I found becoming a software engineer was the perfect way to combine my love of technology, creativity, and the ability to help others. </p>

            <p class="mt-4">When I'm not coding, you can find me enjoying fantasy games, movies, or books! My favorite games are Hades, baldur's gate 3 and Final Fantasy 14. When the weather cooperates, I'm always hyped to go hiking and I keep meaning to start Brazilian Jiu-Jitsu. Also, I'm a language nerd, I've read a few novels in Japanese and I'm currently working on <span class="line-through">mastering</span> getting half decent at spoken Spanish.
            </p>

            <p class="mt-4">
                I look forward to meeting you!
            </p>
           
    
        </section>
    </main>


    </div>
</Layout>