---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import '@/styles/globals.css'
import '@/styles/normalize.css'
import SocialLinksNav from '@/components/navigation/SocialLinksNav';
import Header from '@/components/navigation/Header'
import HeroButtons from '@/components/landingpage/HeroButtons'
import LatestProjects from '@/components/landingpage/LatestProjects'
import DiamondBackgroundImages from "@/components/landingpage/DiamondBackgroundImages"
import SpaceForSidebar from "@/components/SpaceForSidebar"
import wireFrame from "../../src/astroImages/wireFrame.png"

---


<Layout title="Janet Spellman's Portfolio.">
	
	
	
		<header class="flex bg-mainColor px-12 gradient-line mb-8 border-b-8">
		<Header client:only="react" />	
		<SocialLinksNav>
			
	     </header>

		

<main class="h-full flex">
	<SpaceForSidebar client:only="react"/>
	<div>
		<section class=" pt-10 px-12" id="home">
		
			
				<h1>Hi There!

					 <span class="wave" title="waving animated hand">&#128075; </span> I'm Janet, Your Next Software Engineer.

				
				</h1>

				<p class="mt-4"> You've put lots of time and care into running your business. You deserve to have a website which reflects that and makes your clients excited to become repeat customers!</p>

				<p class="mt-4">Whether through work or volunteering, I enjoy helping make other's lives a bit brighter and easier. I'm a software engineer that enjoys collaborating with small business owners to strengthen their digital presence and grow their customer base with attention-grabbing, accessible, and functional websites.</p>						
			
			

					<HeroButtons/>
			
					<section class="flex justify-center">
						
	                      	<h2 class="h-18"> My Github Activity</h2> 	

								<a href="https://github.com/JSMarsh813"
							  aria-label="link to github"
							 
							  >
							  <img
							  class="mx-1 inline-block size-7
							  hover:border-4 hover:rounded-sm hover:border-violet-500 md:size-8"
							  loading="eager"
							  src={`images/github.svg`}
							  alt="github logo"
							  title="github logo"
							/>
					</a>
					</section>

					<img src="https://ghchart.rshah.org/2e1065/JSMarsh813" alt="Github chart" class="block mx-auto bg-violet-950 py-2 px-10 rounded-lg mt-4"/>
					
					

		</section>
   <!--  ******* Project Section ******** -->
   <section class="gradient-line mt-8 border-t-4 pt-10 px-12" id="projects">
			<h2 class=" gradient-line "> Latest Projects </h2>

		
				 <LatestProjects>


		</section>
<!-- 		SERVICES SECTION -->

		<section class="gradient-line mt-8 border-t-4 pt-10 px-12 mb-20" id="services">
			<h2 class="  gradient-line "> Services</h2>

		<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 my-8 ml-4">

			<section class="flex mb-4">

<DiamondBackgroundImages imgSrc="service-palette"/>

					
				<div class="ml-6">
					<h3 class="heading-styling">Website Development </h3>
					<p> I am committed to creating a website which meets your unique needs and tastes. The process will begin with a personalized wireframe layout and end with a fully-reponsive and live website.</p>
				</div>
			</section>

			<section class="flex mb-4 ">
			
	
			<DiamondBackgroundImages imgSrc="responsive"/>
			
				<div class="ml-6">
					<h3 class="heading-styling">Responsive Design</h3>
					<p>It is vital for your website to perform beautifully on a device of any size to retain clients. A responsive design allows your audience to browse and shop efficiently, whether they are using a desktop computer, mobile device, tablet or more.</p>
				</div>
			</section>

			<section class="flex mb-4">

				<DiamondBackgroundImages imgSrc="accessiblity"/>

				<div class="ml-6">
					<h3 class="heading-styling">Accessiblity </h3>
					<p> Easy-to-navigate and accessible experience. Maximizing your reach by ensuring even technology challenged or disabled clients can easily access your services.</p>
				</div>
			</section>

			

			<section class="flex mb-4">

				
						<DiamondBackgroundImages imgSrc="diamond"/>
				<div class="ml-6">
					<h3 class="heading-styling border-b-0">Search Engine Optimization (SEO) </h3>
					<p> Helping you reach the most clients possible by utilizing best practices. </p>
				</div>
			</section>

			


		</div>

	   </section>

	   <!-- THE PROCESS SECTION -->
	   <section class="gradient-line mt-8 border-t-4 pt-10 px-12 " id="process">
	
	
		<h2 class=" gradient-line "> The Process</h2>
        
		<ol class="grid grid-cols-1 xl:grid-cols-2 gap-8 my-8">

			<li>
				<h3 class="heading-styling"> Step 1 : Consultation</h3>
				<p> We will chat about your vision, needs, and expectations. Different tiers are available depending on your budget and needs.</p>
			</li>
	
		
			<li class="content">
				<h3 class="heading-styling">Step 2 : Proposal</h3>
				<p class="mb-4"> A personalized wire-frame layout will be created on figma so you can visually preview the site and suggest adjustments.</p>
				<Image src={wireFrame} alt="a wireframe of NourishedByKeto showing a color palette and a preview of the home page" height="600"/>
			</li>
	
			<li class="content">
				<h3 class="heading-styling">Step 3 : Creation and Adjustments </h3>
				<p> You will receive regular updates as the site is created, edited and tested. </p>
			</li>
	
			<li class="content">
				<h3 class="heading-styling"> Step 4 : Deployment</h3>
				<p> A domain to host your site will be chosen and your site will be deployed. Congratulations, your site is now live!</p>

				<p class="mt-4"> I typically recommend using netlify to host the site, because it offers a SSL/TLS certificate for free (in other words, the s in http). If you don't mind having a ".netlify" after your site name, you can host your site for free. Ex: https://janetspellman.netlify.app/ </p>

				<p class="mt-4">If you want to remove the netlify after your site name, I usually recommend namecheap to buy domains. The price can be as low as 10.28/yr but it depends on your desired site name. I highly recommend against godaddy, due to server outages, predatory pricing/hidden charges and poor support. </p>
				
			</li>
		
		

   </section>

   <!-- LANGUAGES SECTION -->

   <section class="gradient-line mt-8 border-t-4 pt-10 px-12" id="skills">

	<h2 class=" gradient-line grid-none"> Skills</h2>
 <div class="grid grid-cols-2 md:grid-cols-3 gap-8 my-8">
	

	<section> 
		<h3 class="heading-styling"> Frameworks </h2>
		<ul>
			<li class="li-icons">Next JS</li>
			<li class="li-icons">Astro</li>
			<li class="li-icons">Gatsby</li>
		
		</ul>
	</section>

	<section> 

		<h3 class="heading-styling"> Front-End </h2>
		<ul>
				<li class="li-icons">HTML</li>
				<li class="li-icons">CSS</li>
				<li class="li-icons">JavaScript</li>
				<li class="li-icons">React</li>
		</ul>
	</section>


	<section> 
		<h3 class="heading-styling"> Back-End </h2>
		<ul>
				<li class="li-icons">NodeJs</li>
				<li class="li-icons">Express</li>
				<li class="li-icons">MongoDB </li>
				<li class="li-icons">GraphQL</li>
			
		</ul>
	</section>


	<section> 
		<h3 class="heading-styling"> Tools/Other </h2>
		<ul>
				<li class="li-icons">TailwindCSS</li>
				<li class="li-icons">Git</li>
				<li class="li-icons">GitHub</li>
				<li class="li-icons">Visual Studio Code</li>
				<li class="li-icons">GIMP</li>
				<li class="li-icons">Shopify</li>
				<li class="li-icons">Prettier</li>
				<li class="li-icons">PostCSS</li>
				<li class="li-icons">Disquis</li>
				<li class="li-icons">Shadcn/ui</li>
				<li class="li-icons">Headless UI</li>
				<li class="li-icons">Daisy UI</li>
				<li class="li-icons">EJS</li>
			
				
		</ul>
	</section>

	<section> 
		<h3 class="heading-styling"> Content Management Systems (CMS) </h2>
		<ul>
			<li class="li-icons">WordPress</li>
			<li class="li-icons">Decap cms/netlify cms</li>		
		
		
		</ul>
	</section>




</div>
</section>

<section class="gradient-line mt-8 border-t-4 pt-10 px-12" id="contact">
	<h2 class="gradient-line heading">  Contact</h2>

	<p class="mb-3">All fields marked with * are required</p>
	<form name="contact" method="POST"  data-netlify="true"> 
		<div class="fields">
			<div class="field">
				<label for="name" class="label-styling">Name *</label>
				<input type="text" name="name" id="name" required class="input-styling"/>
			</div>
			<div class="field">
				<label for="email" class="label-styling">Email *</label>
				<input type="text" name="email" id="email" required class="input-styling"/>
			</div>

			<div class="field">
				<label for="phone" class="label-styling"> Phone</label>
				<input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
				
				placeholder="  333-333-3333"
				class="mr-2 input-styling"> 
				Format: ###-###-####</input>
			</div>

			<div class="field">
				<label for="message" class="label-styling">Message *</label>
				<textarea name="message" id="message" rows="3" required class="input-styling"></textarea>
			</div>
		</div>					
		
		<div class="flex">
				<button
				type="submit" 
				title="click after filling out all required fields to submit contact request"			
				class="px-4 py-2 ml-32 rounded-lg bg-violet-900 text-white hover:text-mainColor  animated-gradient hover:font-bold"
				>
				Send A Message
		</button>
	
		</div>
	
	</form>


</section>

<div>

</main>

	
		<!-- Footer, Copyright -->
		<footer id="footer" class="flex">
			<SpaceForSidebar client:only="react"/>
			<small class="ml-8">&copy; Janet Spellman. All rights reserved.</small>
		</footer>

</Layout>
