---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import '@/styles/normalize.css'
import OlderProjects from '@/components/landingpage/OlderProjects'
import SpaceForSidebar from "@/components/SpaceForDesktopSidebar"

---


<Layout title="Janet Spellman's Other Projects">       
    
             <main class="flex">
        <SpaceForSidebar client:load/>

      
        <section class="pt-10 px-12" id="projects">
			<h2> Other Projects </h2>

		
				 <OlderProjects>


		</section>
    </main>


</Layout>