---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import '@/styles/normalize.css'
import SocialLinksNav from '@/components/navigation/SocialLinksNav';
import Header from '@/components/navigation/Header'
import OlderProjects from '@/components/landingpage/OlderProjects'
import SpaceForSidebar from "@/components/SpaceForDesktopSidebar"

---


<Layout title="Janet Spellman's Other Projects">

    
  <header class="bg-mainColor gradient-line border-b-8">

            <Header client:only="react" />	
                        
             </header>             
    
             <main class="flex">
        <SpaceForSidebar/>

      
        <section class="pt-10 px-12" id="projects">
			<h2> Other Projects </h2>

		
				 <OlderProjects>


		</section>
    </main>


</Layout>